<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex  flex-wrap">
                <div class="col logo">
                    <img src="../img/footer-logo.png" alt="#">
                </div>
                <div class="col ">
                    <ul class="footer__nav  d-flex  flex-nowrap ">
                        <li><a href="#">Контакти</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Форум</a></li>
                        <li><a href="#">Анкети нянь</a></li>
                        <li><a href="#">Оголошення про роботу</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__language">
            <div class="row">
                <div class="col-12 d-flex flex-wrap">
                    <div class="col ">
                        <p>© 2022 сервіс для пошуку нянь поблизу</p>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-end  footer__lang">
                            <div class="d-flex ">
                                <img src="../img/Vector22.png" alt="#">
                                <a href="#">Українська</a>
                                <img style="color: white;" class="lang_down" src="../img/Vector33.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</footer>