<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="col-4 ">
                    <img src="../img/footer-logo.png" alt="#">
                </div>
                <div class="col-8 d-flex justify-content-around">
                    <ul class="footer__nav d-flex ">
                        <li><a href="#">Контакти</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Форум</a></li>
                        <li><a href="#">Анкети нянь</a></li>
                        <li><a href="#">Оголошення про робооту</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__language">
            <div class="row">
                <div class="col-12">
                    <div class="col-6">
                        <p>© 2022 сервіс для пошуку нянь поблизу</p>
                    </div>
                    <div class="col-6">
                        <div class="d-flex justify-content-center  footer__lang">
                            <img src="../img/Vector22.png" alt="#">
                            <a href="#">Українська</a>
                            <img style="color: white;" class="lang_down" src="../img/Vector33.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>