<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between" >
                <a href="#">LOGO</a>
                <div class="header__nav">
                    <ul class="d-flex">
                        <li><a href="#"></a>TEST1</li>
                        <li><a href="#"></a>TEST2</li>
                        <li><a href="#"></a>TEST3</li>
                    </ul>
                </div>
                <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            </div>
        </div>
    </div>
</header>