<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between" >
                <div class="col-6 d-flex">
                <a href="#"><img src="../img/logo.png" alt="#"></a>
                <div class="d-flex justify-content-center  header_lang">
                    <img src="../img/emojione-monotone_globe-with-meridians.png" alt="#">
                    <a href="#">Українська</a>
                    <img class="lang_down" src="../img/ant-design_caret-down-filled.png" alt="">
                </div>
            </div>
            <nav>
                <div class="header__nav">
                    <ul class="d-flex">
                        <li><a class="btn1" href="#">Розміщення оголошення</a></li>
                        <li><a class="btn2" href="#">Знайти роботу</a></li>
                        <li class="d-flex justify-content-center aline-items-center"><a class="btn3 d-flex justify-content-center" href="#"><img  src="../img/bxs_lock-open-alt.png" alt=""> Увійти</a></li>
                    </ul>
                </div>
            </nav>
                <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            </div>
        </div>
    </div>
</header>