<div class="hero">
    <div class="row">
        <div class="col-12">
            <div class="col-8">
                <div class="hero__title">
                    <h1>Батьки вільні, діти доглянуті</h1>
                    <h3>сервіс для пошуку нянь поблизу</h3>
                    <div>
                        <button></button>
                        <button></button>
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>