<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div class="hero__title ">
                    <h1>Батьки вільні, діти доглянуті</h1>
                    <h3>сервіс для пошуку нянь поблизу</h3>
                </div>

                <div>
                    <img src="../img/video.png" alt="#">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex flex-wrap justify-content-around aline-items-center">


                <button class="hero__btn_title_seach d-flex justify-content-between">
                    <div><img src="../img/momse.png" alt="#"> Шукаю няню </div>
                    <img src="../img/akar-icons_chevron-down.png" alt="#">
                </button>


                <button class="hero__btn_title_city d-flex aline-items-center justify-content-between ">
                   <div class="d-flex aline-items-center justify-content-center"> <img src="../img/carbon_location-filled.png" alt="#">Київ,Україна </div>
                    <img class="arrow" src="../img/akar-icons_chevron-down.png" alt="#"></button>

                <div class="hero__btn_search">
                    <button>Шукати
                        <img src="../img/ant-design_caret-down-filled.png" alt="#">
                    </button>
                </div>

            </div>
        </div>


    </div>
</div>
</div>
</div>