<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <div class="col-8">
                    <div class="hero__title">
                        <h1>Батьки вільні, діти доглянуті</h1>
                        <h3>сервіс для пошуку нянь поблизу</h3>
                        <div class="d-flex">
                            <button class="hero__btn_title_seach">Шукаю няню</button>
                            <button class="hero__btn_title_city d-flex"><img src="../img/carbon_location-filled.png" alt=""><p>Київ,УкраїнаІ</p></button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <img src="../img/video.png" alt="#">
                    </div>
                    <div class="hero__btn_search">
                        <button>Шукати
                            <img src="../img/ant-design_caret-down-filled.png" alt="#">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>