<section class="invent">
    <div class="container">
        <div class="inventory">
            <h5>Для батьків</h5>
            <h1>Як знайти няню <br>своєї мрії </h1>
            <div class="col-12 d-flex justify-content-around flex-wrap">
                <div class="col-4">
                    <div class="col-3 d-flex">
                        <div>
                            <h3>Розмістіть ваше<br> оголошення</h3>
                        </div>
                        <div class="col-1 d-flex">
                            <img src="../img/ant-design_arrow-right-outlined.png" alt="#">
                        </div>
                    </div>
                    <p>Розкажіть саме про ваші потреби та завдання</p>
                </div>
                <div class="col-4">
                    <div class="col-3 d-flex">
                        <div>
                            <h3>Перегляньте анкети<br> нянь поблизу</h3>
                        </div>
                        <div class="col-3 d-flex">
                            <img src="../img/ant-design_arrow-right-outlined.png" alt="#">
                        </div>
                    </div>
                    <p>та проведіть співбесіду з тими хто відповідає вашим вимогам </p>
                </div>
                <div class="col-4">
                    <div class="col-3 d-flex">
                        <div>
                            <h3>Найміть свою ідеальну<br> няню</h3>
                        </div>
                        <div class="col-1 d-flex ">
                            <img src="../img/ant-design_arrow-right-outlined.png" alt="#">
                        </div>
                    </div>
                    <p>Обговоріть деталі, сформуйте договір прямо на сайті</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog">
    <div class="container">
        <div class="blog__title">
            <div class="row">
                <div class="col-12 d-flex">
                    <div class="col-6">
                        <h1>
                            Свіже в блозі
                        </h1>
                    </div>
                    <div class="col-6 ">
                        <div class="d-flex ">
                            <img src="../img/Vector1.png" alt="#">
                            <img src="../img/Vector2.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>'
            <div class="pages">
                <div class="row">
                    <div class="col-12">
                        <div class="col-4">
                            <div class="d-flex">
                                <ul class=" d-flex">
                                    <li><a href="#">Все</a></li>
                                    <li><a href="#">Авторські статті</a></li>
                                    <li><a href="#">Дослідження</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog__cards">
            <div class="row">
                <div class="col-12 d-flex ">
                    <div class="col">
                        <img src="../img/image1.png" alt="#">
                        <h3>Як вибрати няню для дитини?</h3>
                        <p>8 вересня</p>
                        <div class="d-flex">
                            <button>Поради</button>
                            <button>Корисне</button>
                        </div>
                    </div>
                    <div class="col">
                        <img src="../img/image2.png" alt="#">
                        <h3>Як вибрати няню для дитини?</h3>
                        <p>8 вересня</p>
                        <div class="d-flex">
                            <button>Поради</button>
                            <button>Корисне</button>
                        </div>
                    </div>
                    <div class="col d-none d-xl-block">
                        <img src="../img/image3.png" alt="#">
                        <h3>Як вибрати няню для дитини?</h3>
                        <p>8 вересня</p>
                        <div class="d-flex">
                            <button>Поради</button>
                            <button>Корисне</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog__button-about">
            <div class="row d-flex justify-content-center ">
                <button class="d-flex justify-content-center aline-items-center">
                    <div>Читати більше</div>
                    <div><img src="../img/VectorR.png" alt="#"></div>
                </button>
            </div>
        </div>
    </div>
    </div>
</section>



<section class="for-mom">
    <div class="container">
        <div class="for-mom__title">
            <div class="for-mom__rectangle"></div>
            <h5>Для нянь</h5>

            <h1>Як знайти роботу <br>
                професійною нянею </h1>

            <div class="col-12 d-flex justify-content-around">
                <div class="col-4">
                    <div class="col-3 d-flex justify-content-between">
                        <div class="d-flex justify-content-between">
                            <h3>Створіть
                                <br> профіль няні
                            </h3>
                        </div>

                        <img src="../img/ant-design_arrow-right-outlined.png" alt="#">

                    </div>
                    <p>Заповніть анкету няні, додайте фото,<br> опішить своі сильні сторони
                    </p>
                </div>
                <div class="col-4">
                    <div class="col-3 d-flex">
                        <div>
                            <h3>Реагуйте на <br>
                                оголошення про роботу</h3>
                        </div>
                        <div class="col-3 d-flex">
                            <img src="../img/ant-design_arrow-right-outlined.png" alt="#">
                        </div>
                    </div>
                    <p>Знаходьте оголошення поруч з вами та <br>обговорюйте умови з роботодавцем
                    </p>
                </div>
                <div class="col-4">
                    <div class="col-3 d-flex">
                        <div>
                            <h3>Знайдіть<br> вашого вихованця </h3>
                        </div>
                        <div class="col-1 d-flex ">
                            <img src="../img/ant-design_arrow-right-outlined.png" alt="#">
                        </div>
                    </div>
                    <p>Обговоріть деталі співпраці, сформуйте<br> договір за допомогою сайту
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="comunity">
    <div class="container">
        <div class="d-flex ">
            <div class="comunity__questions">
                <div class="row">
                    <h1>Спільнота</h1>
                    <p>Обмін досвідом, спілкування, рекомендації</p>
                    <div class="comunity__line"></div>
                    <h3>Популярне на форумі</h3>
                </div>
                <div class="comunity__questions_text">
                    <p class="data">8 червня - Різне</p>
                    <p>Якого віку повинна бути відповідальна няня?</p>
                </div>
                <div class="comunity__questions_text">
                    <p class="data">8 червня - Різне</p>
                    <p>З якого віку дитина готова для того аби її залишати наодинці з нянею?</p>
                </div>
                <div class="comunity__questions_text d-none d-md-block">
                    <p class="data">8 червня - Різне</p>
                    <p>Якого віку повинна бути відповідальна няня?</p>
                </div>
                <div class="comunity__questions_text d-none d-md-block">
                    <p class="data">8 червня - Різне</p>
                    <p>Якого віку повинна бути відповідальна няня?</p>
                </div>
                <div class="comunity__questions_text d-none d-md-block">
                    <p class="data">8 червня - Різне</p>
                    <p>З якого віку дитина готова для того аби її залишати наодинці з нянею?</p>
                </div>
                <div class="comunity__questions_text d-none d-md-block">
                    <p class="data">8 червня - Різне</p>
                    <p>Якого віку повинна бути відповідальна няня?</p>
                </div>

            </div>
            <div class="comunity__coments">
                <div class="row">
                    <div class="comunity__line"></div>
                    <h3>Обговорюють зараз</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. </p>

                </div>
                <div class="row">
                    <div class="d-flex">
                        <img src="../img/image 3.png" alt="#">
                        <h6>Юлія К.</h6>
                        <p>в топіку</p>
                        <p><u> “Поради, як не промахнутись з вибором няні”</u></p>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex">

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. </p>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex aline-items-center">
                        <img src="../img/image 4.png" alt="#">
                        <div class="d-flex d-sm-block">
                            <h6>Юлія К.</h6>
                            <p>в топіку</p>
                        </div>
                        <p><u> “Поради, як не промахнутись з вибором няні”</u></p>
                    </div>
                </div>
                <div class="row d-none d-md-block">


                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. </p>

                </div>
                <div class="row d-none d-md-block">
                    <div class="d-block d-md-flex">
                        <img src="../img/image 3.png" alt="#">
                        <h6>Юлія К.</h6>
                        <p>в топіку</p>
                        <p><u> “Поради, як не промахнуsтись з вибором няні”</u></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog__button-about d-flex justify-content-center aline-items-center ">
            <div class="row d-flex justify-content-center aline-items-center">
                <button class="d-flex justify-content-center aline-items-center">
                    <div>Перейти до форуму</div>
                    <div class="d-none d-md-block"><img src="../img/VectorR.png" alt="#"></div>
                </button>
            </div>
        </div>

    </div>
</section>