<section class="invent">
    <div class="container">
        <div class="inventory">
            <h5>Для батьків</h5>
            <h1>Як знайти няню <br>своєї мрії </h1>
            <div class="col-12 d-flex justify-content-around">
                <div class="col-4">
                    <div class="col-3 d-flex">
                        <div>
                            <h3>Розмістіть ваше<br> оголошення</h3>
                        </div>
                        <div class="col-1 d-flex">
                            <img src="../img/ant-design_arrow-right-outlined.png" alt="#">
                        </div>
                    </div>
                    <p>Розкажіть саме про ваші потреби та завдання</p>
                </div>
                <div class="col-4">
                    <div class="col-3 d-flex">
                        <div>
                            <h3>Перегляньте анкети<br> нянь поблизу</h3>
                        </div>
                        <div class="col-3 d-flex">
                            <img src="../img/ant-design_arrow-right-outlined.png" alt="#">
                        </div>
                    </div>
                    <p>та проведіть співбесіду з тими хто відповідає вашим вимогам </p>
                </div>
                <div class="col-4">
                    <div class="col-3 d-flex">
                        <div>
                            <h3>Найміть свою ідеальну<br> няню</h3>
                        </div>
                        <div class="col-1 d-flex ">
                            <img src="../img/ant-design_arrow-right-outlined.png" alt="#">
                        </div>
                    </div>
                    <p>Обговоріть деталі, сформуйте договір прямо на сайті</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog">
    <div class="container">
        <div class="blog__title">
            <div class="row">
                <div class="col-12 d-flex">
                    <div class="col-6">
                        <h1>
                            Свіже в блозі
                        </h1>
                    </div>
                    <div class="col-6 ">
                        <div class="d-flex flex">
                            <img src="../img/Vector1.png" alt="#">
                            <img src="../img/Vector2.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>'
            <div class="pages">
                <div class="row">
                    <div class="col-12">
                        <div class="col-4">
                            <div class="d-flex">
                                <ul class=" d-flex">
                                    <li><a href="#">Все</a></li>
                                    <li><a href="#">Авторські статті</a></li>
                                    <li><a href="#">Дослідження</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog__cards">
            <div class="row">
                <div class="col-12 d-flex justify-content-between">
                    <div class="col-4">
                        <img src="../img/image1.png" alt="#">
                        <h3>Як вибрати няню для дитини?</h3>
                        <p>8 вересня</p>
                        <div class="d-flex">
                            <button>Поради</button>
                            <button>Корисне</button>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="../img/image2.png" alt="#">
                        <h3>Як вибрати няню для дитини?</h3>
                        <p>8 вересня</p>
                        <div class="d-flex">
                            <button>Поради</button>
                            <button>Корисне</button>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="../img/image3.png" alt="#">
                        <h3>Як вибрати няню для дитини?</h3>
                        <p>8 вересня</p>
                        <div class="d-flex">
                            <button>Поради</button>
                            <button>Корисне</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="blog__button-about">
    <div class="row d-flex justify-content-center aline-items-center">
        <button class="d-flex justify-content-center aline-items-center">
            <div>Читати більше</div>
        <div><img src="../img/VectorR.png" alt="#"></div>
    </button>
    </div>
</div>
    </div>
    </div>
</section>