.hero {
    padding-top: 170px;
    background: linear-gradient(102.5deg, #FFF6DA 0%, #FFDEF2 100%);
    padding-bottom: 40px;

    .container {
        .row {


            .col-12 {

                .hero__title {


                    h1 {
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 56px;
                        line-height: 120%;
                        margin-right: 60px;

                        @media screen and(max-width:700px) {

                            font-size: 32px;
                        }
                    }

                    h3 {
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 32px;
                        line-height: 38px;
                        margin-bottom: 70px;

                        @media screen and(max-width:700px) {

                            font-size: 18px;
                        }
                    }

                    div {
                        margin-bottom: 43px;
                        display: flex;
                        justify-content: center;

                        img {

                            @media screen and(max-width:1100px) {
                                display: none;

                            }
                        }
                    }




                    @media screen and(max-width:800px) {
                        flex-wrap: wrap;
                        width: 100%;

                    }
                }

                div {



                    img {

                        @media screen and(max-width:1100px) {
                            display: none;

                        }
                    }
                }

                .hero__btn_title_seach {

                    width: 309px;
                    height: 64px;
                    background: #FFFFFF;
                    border-radius: 32px;
                    margin-bottom: 24px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    /* identical to box height, or 133% */
                    text-align: start;
                    padding-left: 16px;
                    color: #000000;
                    align-items: center;
                    border: 2px solid white;
                   
                    @media screen and(max-width:1200px) {
                        width: 80vw;

                    }

                    @media screen and(max-width:570px) {
                        width: 95vw;

                    }

                    img {
                        color: #000000;

                        @media screen and(max-width:700px) {
                            padding-left: 0;

                        }
                    }

                }

                .hero__btn_title_city {

                    width: 463px;
                    height: 64px;
                    align-items: center;
                    background: #FFFFFF;
                    border-radius: 32px;
                    margin-bottom: 24px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                    text-align: start;
                    padding-left: 16px;
                    color: #000000;
                    align-items: center;
                    border: 2px solid white;

                    @media screen and(max-width:1200px) {
                        width: 80vw;

                    }

                    @media screen and(max-width:570px) {
                        width: 95vw;

                    }



                    border-radius: 32px;


                }

                .hero__btn_search {
                    button {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 10px 20px;

                        border: 2px solid #1E3173;
                        width: 386px;
                        height: 64px;
                        background: #1E3173;
                        border-radius: 32px;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 26px;
                        line-height: 24px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        color: #FFFFFF;

                        
                    }
                    @media screen and(max-width:1200px) {
                    
                        display: flex;
                        justify-content: center;
                        align-items: center;

                    }
                }






                @media screen and(max-width:770px) {
                    width: 100%;

                }


                @media screen and(max-width:1200px) {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;

                }


            }
        }
    }
}